[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/WebCrew-Funda/gateway-service
[submodule "config-data"]
	path = config-data
	url = https://github.com/WebCrew-Funda/config-data
[submodule "config-service"]
	path = config-service
	url = https://github.com/WebCrew-Funda/config-service
[submodule "users-service"]
	path = users-service
	url = https://github.com/WebCrew-Funda/users-service
[submodule "payments-service"]
	path = payments-service
	url = https://github.com/WebCrew-Funda/payments-service
